.card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  border-radius: 10px;
  margin: 0 auto;
  z-index: 1000;
}

.card img {
  max-width: 400px;
}

.baseStatus {
  width: 25%;
}

.about {
  width: 25%;
}

.info {
  width: 50%;
}

.teste {
  display: flex;
  justify-content: center;
  width: 210px;
  height: 15px;
  border-radius: 10px;
  background-color: #90EE90;
}

.back {
  display: flex;
  width: 300px;
  height: 15px;
  border-radius: 10px;
  background-color: #D8D8D8;
  margin: 10px;
}

.testando {
  position:relative;
  content: '';
  clip-path: polygon(0 0, 100% 100%, 100% 0);
  border-radius: 10px;
}
